@font-face {
  font-family: 'TryChotherReg';
  src: url('../fonts/TRYClotherRegular.woff2') format('woff2'),
  url('../fonts/TRYClotherRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}