
%h2 {
  font-size: 180px;
  line-height: 140px;
  font-family: 'TryChotherReg';
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #101010;
  overflow-y: hidden;
  text-align: center;
  position: relative;
  margin: 0 52px;
  &::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #101010;
  }
}

%link-bigger {
  display: inline-block;
  font-family: 'TryChotherReg';
  font-weight: 400;
  font-size: 76px;
  line-height: 76px;
  letter-spacing: -0.04em;
  color: #DCDCDC;
  position: relative;
}

%link {
  display: inline-block;
  font-family: 'TryChotherReg';
  font-weight: 400;
  font-size: 57px;
  line-height: 57px;
  color: #DCDCDC;
  position: relative;
}